<h4><%= o.object.index_name %> Output Settings</h4>

<%= o.hidden_field :output_index %>
<%= o.hidden_field :_destroy, value: !o.object.persisted?, class: 'destroy' %>
    
<div class='form-group'>
  <div class='col-sm-3 control-label'>
    <%= o.label :function %>
  </div>
  <div class='col-sm-9'>
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-default <%= "active" if o.object.function == OutputSettings::FUNCTIONS[:heating] %>">
        <%= o.radio_button :function, OutputSettings::FUNCTIONS[:heating], checked: o.object.function == OutputSettings::FUNCTIONS[:heating], autocomplete: "off" %> Heating
      </label>
      <label class="btn btn-default <%= "active" if o.object.function == OutputSettings::FUNCTIONS[:cooling] %>">
        <%= o.radio_button :function, OutputSettings::FUNCTIONS[:cooling], checked: o.object.function == OutputSettings::FUNCTIONS[:cooling], autocomplete: "off" %> Cooling
      </label>
      <label class="btn btn-default <%= "active" if o.object.function == OutputSettings::FUNCTIONS[:manual] %>">
        <%= o.radio_button :function, OutputSettings::FUNCTIONS[:manual], checked: o.object.function == OutputSettings::FUNCTIONS[:manual], autocomplete: "off" %> Manual
      </label>
    </div>
  </div>
</div>

<div id="cycle_delay_<%= o.object.output_index %>" class='form-group'>
  <div class='col-sm-3 control-label'>
    <%= o.label :cycle_delay %>
  </div>
  <div class='col-sm-9'>
    <div class="input-group">
      <%= o.text_field :cycle_delay, class: 'form-control' %>
      <span class="input-group-addon">minutes</span>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#device_session_output_settings_attributes_<%= o.object.output_index %>_function_0, #device_session_output_settings_attributes_<%= o.object.output_index %>_function_1, #device_session_output_settings_attributes_<%= o.object.output_index %>_function_2').change(function(e){
      if ($(this).val() == <%= OutputSettings::FUNCTIONS[:manual] %>) {
        $('#cycle_delay_<%= o.object.output_index %>').hide();
      }
      else {
        $('#cycle_delay_<%= o.object.output_index %>').show();
        
      }
    });
  });
</script>

<hr />
