<div class="sensor col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Sensor <%= sensor.sensor_index + 1 %></h3>
    </div>
    <div class="panel-body">
      
      <div id="sensor-<%= sensor.id %>-timeline" class="sensor-plot bottom-space"></div>
      <script type='text/javascript'>
        $(document).ready(function () {
          g = new Dygraph(
            document.getElementById("sensor-<%= sensor.id %>-timeline"),
            [
              <% sensor.readings.each do |reading| %>
              [new Date(<%= reading.created_at.to_i * 1000 %>), <%= reading.value %>],
              <% end %>
            ],
            {
              rollPeriod: 10,
              labels: ['', 'Temperature'],
              labelsDivWidth: 300,
              ylabel: 'Temperature',
              showRangeSelector: true,
              legend: 'always',
              labelsDivStyles: { 'textAlign': 'right' },
            }
          );
        });
      </script>
      
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Current command</h4>
            </div>
            <div class="panel-body">
              <h4>
                <span class="label label-default label-lg">
                  <% if sensor.current_settings.setpoint_type == Sensor::SETPOINT_TYPE[:static] %>
                    Static Setpoint - <%= sensor.current_settings.static_setpoint %>&deg; F
                  <% else %>
                    Temperature Profile - <%= sensor.current_settings.temp_profile.name %>
                  <% end %>
                </span>
              </h4>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Currently controlling</h4>
            </div>
            <div class="panel-body">
              <h4>
                <% unless sensor.controlled_outputs.blank? %>
                  <% sensor.controlled_outputs.each do |output| %>
                    <span class="label label-default label-lg"><%= OutputSettings::INDEX_NAME[output.output_index].capitalize %> Output - <%= OutputSettings::FUNCTION_NAME[output.current_settings.function].capitalize %></span>
                  <% end %>
                <% else %>
                  <span class="label label-default label-lg">Nothing</span>
                <% end %>
              </h4>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
