<div class="sensor col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Sensor <%= sensor.sensor_index + 1 %></h3>
    </div>
    <div class="panel-body">
      <div id="sensor-<%= sensor.id %>-timeline" class="sensor-plot"></div>
      <script type='text/javascript'>
        $(document).ready(function () {
          g = new Dygraph(
            document.getElementById("sensor-<%= sensor.id %>-timeline"),
            [
              <% sensor.readings.each do |reading| %>
              [new Date(<%= reading.created_at.to_i * 1000 %>), <%= reading.value %>],
              <% end %>
            ],
            {
              rollPeriod: 10,
              labels: ['', 'Temperature'],
              labelsDivWidth: 300,
              ylabel: 'Temperature',
              showRangeSelector: true,
              legend: 'always',
              labelsDivStyles: { 'textAlign': 'right' },
            }
          );
        });
      </script>
      <div>Currently controlling: both outputs <%= link_to '(change)' %></div>
      <div>Using temperature profile: 'Saison' <%= link_to '(change)' %></div>
    </div>
  </div>
</div>
