<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit Dynamic Setpoint</h3>
    </div>
    <div class="panel-body">
      <%= nested_form_for @dynamic_setpoint, html: { class: 'form-horizontal' } do |f| %>
        <div class="form-group">
          <%= f.label :name, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <table id="steps" class="table table-striped">
          <thead>
            <tr>
              <th class="col-sm-1">#</th>
              <th class="col-sm-2">Temperature</th>
              <th class="col-sm-3">Duration</th>
              <th class="col-sm-2">Type</th>
              <th class="col-sm-2"><%= f.link_to_add raw('<span class="glyphicon glyphicon-plus"></span> Add Step'), :steps, :data => { :target => "#steps" }, class: 'btn btn-default btn-sm' %></th>
            </tr>
          </thead>
          <tbody>
          <%= f.fields_for :steps, :wrapper => false do |ff| %>
            <tr class="fields">
              <td>
                <span>1</span>
                <%= ff.hidden_field :id %>
              </td>
              <td>
                <%= ff.number_field :value, value: 68, class: 'form-control' %>
              </td>
              <td>
                <div class="input-group">
                  <%= ff.text_field :duration, value: 2, class: 'form-control' %>
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">days <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">minutes</a></li>
                      <li><a href="#">hours</a></li>
                      <li><a href="#">days</a></li>
                      <li><a href="#">weeks</a></li>
                    </ul>
                  </div>
                </div>
              </td>
              <td>
                <%= ff.hidden_field :step_type %>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="radio" name="step_types" id="ramp"> Ramp
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="step_types" id="hold"> Hold
                  </label>
                </div>
              </td>
              <td>
                <%= link_to_function raw('<span class="glyphicon glyphicon-chevron-up"></span>'), 'moveStepUp', class: 'btn btn-default btn-sm' %>
                <%= link_to_function raw('<span class="glyphicon glyphicon-chevron-down"></span>'), 'moveStepDown', class: 'btn btn-default btn-sm' %>
                <%= ff.link_to_remove raw('<span class="glyphicon glyphicon-remove"></span>'), class: 'btn btn-default btn-sm' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      
        <div class="form-group">
          <div class="col-md-offset-8 col-md-4">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
