<ul class="nav nav-tabs">
  <% @devices.each do |cur_device| %>
    <li class="<%= 'active' if device == cur_device %>">
      <%= link_to cur_device.name, cur_device %>
    </li>
  <% end %>
  <li class="tab-right">
    <%= link_to raw('<span class="glyphicon glyphicon-plus"></span> Add Device'), activate_path %>
  </li>
</ul>
<div id="device-<%= device.id %>">
  <%= render device.sensors %>
  <%= link_to 'Edit Device Settings', edit_device_path(device) %>
</div>
