<ul class="nav nav-tabs">
  <% @devices.each do |cur_device| %>
    <li class="<%= 'active' if device == cur_device %>">
      <%= link_to cur_device.name, cur_device %>
    </li>
  <% end %>
  <li class="tab-right">
    <%= link_to raw('<span class="glyphicon glyphicon-plus"></span> Activate Device'), activate_path %>
  </li>
</ul>
<div id="device-<%= device.id %>">
  <ul class="nav nav-pills device-nav">
    <li class="active">
      <%= link_to raw('<span class="glyphicon glyphicon-stats"></span> Status'), device_path(device) %>
    </li>
    <li>
      <%= link_to raw('<span class="glyphicon glyphicon-transfer"></span> Send Commands'), edit_device_path(device) %>
    </li>
    <li class="navbar-right">
      <%= link_to raw('<span class="glyphicon glyphicon-cog"></span> Device Settings'), edit_device_path(device) %>
    </li>
  </ul>
  <%= render device.sensors %>
</div>
