<h3><%= OutputSettings::INDEX_NAME[o.object.output_index].capitalize %> Output</h3>

<div class='form-group'>
  <div class='col-sm-4'>
    <%= o.label :sensor, class: 'col-sm-2 control-label' %>
  </div>
  <div class='col-sm-8'>
    <%= o.select :sensor_id, @device.sensors.collect {|s| ["Sensor #{s.sensor_index+1}", s.id]}, {}, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <div class='col-sm-4'>
    <%= o.label :function, class: 'col-sm-2 control-label' %>
  </div>
  <div class='col-sm-8'>
    <%= o.select :function, OutputSettings::FUNCTIONS.values, {}, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <div class='col-sm-4'>
    <%= o.label :cycle_delay, class: 'col-sm-2 control-label' %>
  </div>
  <div class='col-sm-8'>
    <div class="input-group">
      <%= o.text_field :cycle_delay, class: 'form-control' %>
      <span class="input-group-addon">minutes</span>
    </div>
  </div>
</div>

<div class='form-group'>
  <div class='col-sm-4'>
    <%= o.label :output_mode, class: 'col-sm-2 control-label' %>
  </div>
  <div class='col-sm-8'>
    <%= o.select :output_mode, OutputSettings::OUTPUT_MODE.map {|k,v| [k.capitalize, v]}, {}, class: 'form-control' %>
  </div>
</div>
