<h3>Sensor <%= s.object.sensor_index + 1 %></h3>

<div class='form-group'>
  <div class='col-sm-4'>
    <%= s.label :setpoint_type, class: 'col-sm-2 control-label' %>
  </div>
  <div class='col-sm-8'>
    <%= s.select :setpoint_type, [['Static',Sensor::SETPOINT_TYPE[:static]],['Temp Profile',Sensor::SETPOINT_TYPE[:temp_profile]]], {}, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <div class='col-sm-4'>
    <%= s.label :static_setpoint, class: 'col-sm-2 control-label' %>
  </div>
  <div class='col-sm-8'>
    <%= s.number_field :static_setpoint, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <div class='col-sm-4'>
    <%= s.label :temp_profile_id, class: 'col-sm-2 control-label' %>
  </div>
  <div class='col-sm-8'>
    <%= s.select :temp_profile_id, @device.user.temp_profiles.collect{|x| [x.name, x.id]}, {}, class: 'form-control' %>
  </div>
</div>
