<% content_for :app_content do %>
  <div class="bottom-space">
    <ul class="nav nav-tabs">
      <% spree_current_user.devices.each do |cur_device| %>
        <li class="<%= 'active' if @device == cur_device %>">
          <%= link_to cur_device.name, cur_device %>
        </li>
      <% end %>
      <li class="tab-right">
        <%= link_to raw('<span class="glyphicon glyphicon-plus"></span> Activate Device'), activate_path %>
      </li>
    </ul>
  </div>
  <%= content_for?(:dashboard_content) ? yield(:dashboard_content) : yield %>
<% end %>
<%= render template: 'spree/layouts/spree_application' %>
