<h3>Sensor <%= s.object.sensor.sensor_index + 1 %></h3>

<%= s.hidden_field :sensor_id %>

<div class='form-group'>
  <div class='col-sm-4'>
    <%= s.label :setpoint_type, class: 'col-sm-2 control-label' %>
  </div>
  <div class='col-sm-8'>
    <%= s.select :setpoint_type, [['Static',Sensor::SETPOINT_TYPE[:static]],['Temp Profile',Sensor::SETPOINT_TYPE[:temp_profile]]], {}, class: 'form-control' %>
  </div>
</div>

<div id="static-setpoint-<%= s.object.sensor.sensor_index %>" class='form-group' style="<%= 'display: none;' if s.object.setpoint_type == Sensor::SETPOINT_TYPE[:temp_profile]%>">
  <div class='col-sm-4'>
    <%= s.label :static_setpoint, class: 'col-sm-2 control-label' %>
  </div>
  <div class='col-sm-8'>
    <div class="input-group">
      <%= s.text_field :static_setpoint, class: 'form-control', value: s.object.static_setpoint %>
      <span class="input-group-addon">&deg;<%= spree_current_user.temperature_scale %></span>
    </div>
  </div>
</div>

<div id="temp-profile-<%= s.object.sensor.sensor_index %>" class='form-group' style="<%= 'display: none;' if s.object.setpoint_type == Sensor::SETPOINT_TYPE[:static]%>">
  <div class='col-sm-4'>
    <%= s.label :temp_profile_id, class: 'col-sm-2 control-label' %>
  </div>
  <div class='col-sm-8'>
    <%= s.select :temp_profile_id, @device.user.temp_profiles.collect{|x| [x.name, x.id]}, {}, class: 'form-control' %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#device_command_sensor_settings_attributes_<%= s.object.sensor.sensor_index %>_setpoint_type').change(function() {
      if ($(this).val() == <%= Sensor::SETPOINT_TYPE[:static] %>) {
        $('#static-setpoint-<%= s.object.sensor.sensor_index %>').show();
        $('#temp-profile-<%= s.object.sensor.sensor_index %>').hide();
      }
      else {
        $('#static-setpoint-<%= s.object.sensor.sensor_index %>').hide();
        $('#temp-profile-<%= s.object.sensor.sensor_index %>').show();
      }
    });
  });
</script>
