<tr class="fields">
  <td>
    <span class='step_index'><%= f.object.step_index %></span>
    <%= f.hidden_field :step_index, class: 'step_index' %>
  </td>
  <td>
    <%= f.number_field :value, class: 'form-control' %>
  </td>
  <td>
    <div class="input-group">
      <%= f.hidden_field :duration, class: 'duration_field', value: f.object.duration %>
      <%= f.hidden_field :duration_type, class: 'duration_type_field', value: f.object.duration_type %>
      <input class="form-control duration" type="number" value="<%= f.object.duration %>">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class='selection'><%= f.object.duration_type %></span> <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% TempProfileStep::DURATION_TYPE.each do |d| -%>
            <li><a href="#"><%= d %></a></li>
          <% end -%>
        </ul>
      </div>
    </div>
  </td>
  <td>
    <%= f.hidden_field :step_type, class: 'step_type' %>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default step_type <%= 'active' if f.object.step_type == TempProfileStep::STEP_TYPE[:ramp] %>">
        <input type="radio" name="step_types" id="ramp"> Ramp</input>
      </label>
      <label class="btn btn-default step_type <%= 'active' if f.object.step_type == TempProfileStep::STEP_TYPE[:hold] %>">
        <input type="radio" name="step_types" id="hold"> Hold</input>
      </label>
    </div>
  </td>
  <td>
    <%= link_to_function raw('<span class="glyphicon glyphicon-chevron-up"></span>'), 'moveStepUp', class: 'btn btn-default btn-sm' %>
    <%= link_to_function raw('<span class="glyphicon glyphicon-chevron-down"></span>'), 'moveStepDown', class: 'btn btn-default btn-sm' %>
    <%= f.link_to_remove raw('<span class="glyphicon glyphicon-remove"></span>'), class: 'btn btn-default btn-sm' %>
  </td>
</tr>

