<h3><%= @device.name %> Sessions</h3>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-6">Session Name</th>
        <th class="col-md-3">Started</th>
        <th class="col-md-2"></th>
      </tr>
    </thead>
    <tbody>
      <% @device_sessions.each do |device_session| %>
        <tr>
          <td><%= link_to device_session.name, device_session_path(@device, device_session) %></td>
          <td><span title="<%= device_session.created_at.to_s(:pretty) %>"><%= time_ago_in_words(device_session.created_at) %> ago</span></td>
          <td>
            <div class="btn-group">
              <%= link_to raw('<span class="glyphicon glyphicon-eye-open"></span>'), device_session_path(@device, device_session), 'class' => 'tool-link btn btn-default', 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'View Session' %>
              <%= link_to raw('<span class="glyphicon glyphicon-download-alt"></span>'), "/readings/#{device_session.uuid}.csv", 'class' => 'tool-link btn btn-default', 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Download CSV' %>
              <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), device_session_path(@device, device_session), 'method' => :delete, 'class' => 'tool-link btn btn-danger', 'data' => { confirm: 'Are you sure?' }, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'Delete Session' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<script type='text/javascript'>
  $(document).ready(function () {
    $('.tool-link').tooltip({html: 'asdf'});
  });
</script>
