<div class="sensor col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Sensor <%= setting.sensor.sensor_index + 1 %></h3>
    </div>
    <div class="panel-body">
      <div id="sensor-<%= setting.id %>-timeline" class="sensor-plot bottom-space"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Current command</h4>
            </div>
            <div class="panel-body">
              <h4>
                <span class="label label-default label-lg">
                  <% if setting.setpoint_type == Sensor::SETPOINT_TYPE[:static] %>
                    Static Setpoint - <%= setting.static_setpoint(spree_current_user.temperature_scale) %>&deg; <%= spree_current_user.temperature_scale %>
                  <% else %>
                    Temperature Profile - <%= setting.temp_profile.name %>
                  <% end %>
                </span>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Currently controlling</h4>
            </div>
            <div class="panel-body">
              <h4>
                <% unless setting.sensor.outputs.blank? %>
                  <% setting.sensor.outputs.each do |output| %>
                    <span class="label label-default label-lg">
                      <%= output.index_name %> Output - <%= setting.sensor.output_settings.last.function_name %></span>
                  <% end %>
                <% else %>
                  <span class="label label-default label-lg">Nothing</span>
                <% end %>
              </h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function () {
    g = new Dygraph(
      document.getElementById("sensor-<%= setting.id %>-timeline"),
      [
        <% setting.readings.each do |reading| %>
          [ new Date(<%= reading.created_at.to_i * 1000 %>),
              <%= TemperatureConverter.convert(spree_current_user.temperature_scale, reading.value) %>,
              <%= TemperatureConverter.convert(spree_current_user.temperature_scale, reading.setpoint) %>
          ],
        <% end %>
      ],
      {
        rollPeriod: 10,
        labels: ['', 'Reading', 'Setpoint'],
        labelsDivWidth: 500,
        ylabel: 'Temperature',
        showRangeSelector: true,
        legend: 'always',
        labelsDivStyles: { 'textAlign': 'right' },
      }
    );
  });
</script>
